<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_URL}/bootstrap.css">
    <script src="{JS_URL}/jquery-3.2.1.js"></script>
    <style>
        td a{
            width: 50px;
            height: 30px;
            border: 1px solid #ccc;
            border-radius: 5px;
            display: block;
            float: left;
            margin-right: 30px;
            color: #000;
            text-align: center;
            line-height: 30px;
        }
    </style>
</head>
<body>
<table class="table table-striped">
    <tr>
        <th>管理员ID</th>
        <th>管理员姓名</th>
        <th>管理员角色</th>
        <th>操作</th>
    </tr>
    {foreach $row as $v}
    <tr>
        <td>{$v["aid"]}</td>
        <td>{$v["aname"]}</td>
        <td>{$v["lname"]}</td>
        <td><a href="index.php?m=admin&f=admin&a=deladmin&aid={$v['aid']}">删除</a><a href="index.php?m=admin&f=admin&a=updataadmin&aid={$v['aid']}">修改</a></td>
    </tr>
    {/foreach}
</table>
</body>
</html>