<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_URL}/bootstrap.css">
</head>
<body>
<table class="table table-striped" style="text-align: center">
    <tr>
        <th style="text-align: center">管理员级别名称</th>
        <th style="text-align: center">管理员权限</th>
    </tr>
    <tr>
        <td>超级管理员</td>
        <td>查看、添加、删除、修改、对管理员进行操作</td>
    </tr>
    <tr>
        <td>一级管理员</td>
        <td>查看、添加、删除、修改</td>
    </tr>
    <tr>
        <td>二级管理员</td>
        <td>查看、删除、修改</td>
    </tr>
    <tr>
        <td>三级管理员</td>
        <td>查看、修改</td>
    </tr>
</table>
</body>
</html>