<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{CSS_URL}/bootstrap.css">
    <link rel="stylesheet" href="{CSS_URL}/login.css">
    <script src="{JS_URL}/jquery-3.2.1.js"></script>
    <script src="{JS_URL}/loginreg.js"></script>
    <title>Document</title>
</head>
<body>
        <div class="big">
            <div class="head">
                <button class="head-login">登录</button>
                <div class="divi"></div>
                <button class="head-reg">注册</button>
            </div>
            <div class="loginreg">
                <div class="login">
                    <form class="form-horizontal" action="index.php?m=admin&f=login&a=loginCon" method="post">
                        <!---->
                        <div class="form-group">
                            <label class="col-sm-3 control-label glyphicon glyphicon-user"></label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="inputEmail3" placeholder="请输入用户名" autocomplete="off" name="aname">
                            </div>
                        </div>
                        <!---->
                        <div class="form-group">
                            <label class="col-sm-3 glyphicon glyphicon-lock control-label"></label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="请输入密码" autocomplete="off" name="apass">
                            </div>
                        </div>
                        <!---->
                        <div class="form-group">
                            <label class="col-sm-3 glyphicon glyphicon-phone control-label"></label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="请输入手机号" autocomplete="off" name="phone">
                            </div>
                        </div>
                        <!---->
                        <div class="form-group">
                            <label class="col-sm-3 control-label glyphicon glyphicon-envelope"></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" autocomplete="off" name="phonecode" placeholder="请输入手机验证码">
                            </div>
                            <div class="four">
                                <a href="javascript:;">获取验证码</a>
                            </div>
                        </div>
                        <!---->
                        <div class="form-group">
                            <label class="col-sm-3 control-label glyphicon glyphicon-picture"></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" autocomplete="off" name="code"  placeholder="请输入验证码">
                            </div>
                            <img src="index.php?m=admin&f=login&a=codeimg" class="codeimg" alt="" onclick="src='index.php?m=admin&f=login&a=codeimg'">
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-4">
                                <button type="submit" class="btn btn-primary">登录</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="reg">
                    <form class="form-horizontal" action="index.php?m=admin&f=login&a=regCon" method="post">
                        <div class="form-group">
                            <label for="uname" class="col-sm-3 control-label glyphicon glyphicon-user"></label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="uname" placeholder="请输入用户名" name="aname" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="upass" class="col-sm-3 control-label glyphicon glyphicon-lock control-label"></label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" id="upass" placeholder="请输入密码" name="apass" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="upass1" class="col-sm-3 control-label glyphicon glyphicon-lock control-label"></label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" id="upass1" placeholder="请输入再次密码" name="apass1" autocomplete="off">
                            </div>
                        </div>
                        <!---->
                        <div class="form-group">
                            <label class="col-sm-3 glyphicon glyphicon-phone control-label"></label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="请输入手机号" autocomplete="off" name="uname">
                            </div>
                        </div>
                        <!---->
                        <div class="form-group">
                            <label class="col-sm-3 control-label glyphicon glyphicon-envelope"></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" autocomplete="off" name="phonecode" placeholder="请输入手机验证码">
                            </div>
                            <div class="four">
                                <a href="javascript:;">获取验证码</a>
                            </div>
                        </div>
                        <!---->
                        <div class="form-group">
                            <label class="col-sm-3 control-label glyphicon glyphicon-picture"></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" autocomplete="off" name="code"  placeholder="请输入验证码">
                            </div>
                            <img src="index.php?m=admin&f=login&a=codeimg" class="codeimg" alt="" onclick="src='index.php?m=admin&f=login&a=codeimg'">
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-4">
                                <button type="submit" class="btn btn-primary">注册</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</body>
</html>