<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{CSS_URL}/lists.css">
    <title>Document</title>
</head>
<body>
    <header>
        <main>
            <div class="head">
                <span class="bbig">博客</span>
                <span class="small">有见识的人都在这里</span>
            </div>
            <!--回到首页-->
            <div class="index">
                <a href="index.php?m=index&f=index&a=back">回到首页</a>
            </div>
        </main>
    </header>
<!--内容-->
    <section class="con">
        <main>
            <!--左面的个人信息-->
            <div class="userleft">
                <div class="usermessage">
                    <!--头像-->
                    <div class="kuang">
                        <div class="kuangimg">
                            <img src="{IMG_URL}/1.jpg" alt="">
                        </div>
                        <div class="kuanguser">
                            <span>彭家妹子</span>
                        </div>
                    </div>
                    <!--关注……-->
                    <ul class="userbutton">
                        <li><a href="index.php?m=index&f=index&a=validation">关注</a></li>
                        <li><a href="index.php?m=index&f=index&a=validation">收藏</a></li>
                        <li><a href="index.php?m=index&f=index&a=validation">留言</a></li>
                        <li><a href="index.php?m=index&f=index&a=reg">主页</a></li>
                    </ul>
                    <div class="message">
                        <span>今日访问量：11</span>
                        <span>总访问量：121</span>
                        <span>开博时间：2017-10-22</span>
                    </div>
                </div>
                <div class="userclassify">
                    <span>博文分类</span>
                    <ul>
                        <li>--<a href="index.php?m=index&f=index&a=lists">全部博文</a></li>
                    </ul>
                </div>
            </div>
            <!--右面的分类-->
            <div class="conright">
                <table>
                    <tr>
                        <th>标题</th>
                        <th>发布时间</th>
                        <th>评论</th>
                    </tr>
                    <tr>
                        <td class="tabletitle">--<a href="index.php?m=index&f=index&a=details">王利芬对今日头条的批评尚属浅层</a></td>
                        <td class="tabledata">2017-10-21 02:12</td>
                        <td class="tablenum">0</td>
                    </tr>
                    <tr>
                        <td class="tabletitle">--<a href="">马云的达摩院及一个时代的风气扭转</a></td>
                        <td class="tabledata">2017-10-21 02:12</td>
                        <td class="tablenum">0</td>
                    </tr>
                    <tr>
                        <td class="tabletitle">--<a href="">禁枪还是持枪——个人权利与国家责任的博弈</a></td>
                        <td class="tabledata">2017-10-21 02:12</td>
                        <td class="tablenum">0</td>
                    </tr>
                    <tr>
                        <td class="tabletitle">--<a href="">尬舞、嘻哈与中国人的身体解放</a></td>
                        <td class="tabledata">2017-10-21 02:12</td>
                        <td class="tablenum">0</td>
                    </tr>
                    <tr>
                        <td class="tabletitle">--<a href="">人民需要窦文涛</a></td>
                        <td class="tabledata">2017-10-21 02:12</td>
                        <td class="tablenum">0</td>
                    </tr>
                    <tr>
                        <td class="tabletitle">--<a href="">为什么听过那么多道理，还是过不好这一生</a></td>
                        <td class="tabledata">2017-10-21 02:12</td>
                        <td class="tablenum">0</td>
                    </tr>
                    <tr>
                        <td class="tabletitle">--<a href="">郭敬明随便踩，许知远骂不得</a></td>
                        <td class="tabledata">2017-10-21 02:12</td>
                        <td class="tablenum">0</td>
                    </tr>
                    <tr>
                        <td class="tabletitle">--<a href="">海底捞要赞，但也要警惕“公关文化”泛滥</a></td>
                        <td class="tabledata">2017-10-21 02:12</td>
                        <td class="tablenum">0</td>
                    </tr>
                    <tr>
                        <td class="tabletitle">--<a href="">共有产权房打开社会流动新通道</a></td>
                        <td class="tabledata">2017-10-21 02:12</td>
                        <td class="tablenum">0</td>
                    </tr>
                    <tr>
                        <td class="tabletitle">--<a href="">统治中国楼市多年的市场放任主义正在被终结</a></td>
                        <td class="tabledata">2017-10-21 02:12</td>
                        <td class="tablenum">0</td>
                    </tr>
                    <tr>
                        <td class="tabletitle">--<a href="">科班新闻系都死哪去了</a></td>
                        <td class="tabledata">2017-10-21 02:12</td>
                        <td class="tablenum">0</td>
                    </tr>
                    <tr>
                        <td class="tabletitle">--<a href="">夸大集体用地入市的，既不懂农村也不懂地产</a></td>
                        <td class="tabledata">2017-10-21 02:12</td>
                        <td class="tablenum">0</td>
                    </tr>
                </table>
            </div>
        </main>
    </section>
<!--底部-->
    <footer class="foot">
        <main>
            <div class="footer">
                <div class="footer-top"></div>
                <ul>
                    <li><a href="">关于博客</a></li>
                    <li>|</li>
                    <li><a href="">博客客服</a></li>
                    <li>|</li>
                    <li><a href="">隐私与版权</a></li>
                    <li>|</li>
                    <li><a href="">联系我们</a></li>
                </ul>
                <div class="blog-copy">© 2016 - 2017 博客 版权所有</div>
            </div>
        </main>
    </footer>
</body>
</html>